/* ========== BODY ==========*/
@font-face {
    font-family: "opensans-regular";
    src: url("../Fonts/OpenSans-Regular.woff");
  }
  
  @font-face {
    font-family: "opensans-bold";
    src: url("../Fonts/OpenSans-Bold.woff");
  }
  
  body {
    font-family: opensans-regular, sans-serif;
    margin: 0;
    min-width: 320px;
  }
  
  /* ========== HEADER ==========*/
  .page-header {
    background-image: url("../Images/football_767.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .page-header::after {
    content: "";
    background-color: #19183a;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .header-container {
    position: relative;
    z-index: 2;
  }

  .page-header-logo {
    width: 132px;
  }
  
  .page-header-title-1 {
    display: flex;
    margin-top: 130px;
    margin-bottom: 20px;
    font-family: opensans-bold;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 31px;
}
  
  .page-header-title-2 {
    margin-bottom: 85px;
    margin-left: 45px;
    font-family: opensans-bold;
    font-size: 28px;
    letter-spacing: 1px;
    display: flex;
    text-align: left;
  }

  .download-button {
    width: 120px;
    color: #ffffff;
    font-size: 8px;
    text-decoration: none;
    background-color: #5c3db1;
    text-transform: uppercase;
    border-style: none;
    border-radius: 17px;
    cursor: pointer;
    opacity: 0.8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  .download-button:hover {
    opacity: 1;
  }
  
  .apple-logo {
    width: 20px;
    fill: #ffffff;
  }

  .google-logo {
    width: 20px;
    fill: #ffffff;
  }

  .text-button {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}

  .button-text-2 {
    font-family: opensans-bold;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  /* ========== CONTENT WRAPPER ==========*/
  .content-wrapper {
    text-align: center;
  }
  
  /* ========== MAIN ==========*/
  .main-theme {
    margin-top: 25px;
  }
  
  .title-athlets,
  .title-players {
    display: flex;
    color: #e3e3e3;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    font-family: opensans-bold;
    font-size: 50px;
  }
  
  .main-article {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .main-article:nth-child(3n + 1) {
    background-color: #f4f3f7;
  }
  
  .athlets .main-article:nth-child(3n + 2) {
    background-color: #5c3db1;
    color: #e3e3e3;
  }
  
  .players .main-article:nth-child(3n + 2) {
    background-color: #080933;
    color: #e3e3e3;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    padding-top: 56px;
  }
  
  .number {
    font-family: opensans-bold;
    font-size: 14px;
    position: relative;
  }
  
  .number::after {
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #5e42b0;
    position: absolute;
    display: block;
    content: "";
  }
  
  .athlets .number-3 {
    color: #000000;
    font-family: opensans-bold;
    font-size: 14px;
    position: relative;
  }
  
  .number-3::after {
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #ffffff;
    position: absolute;
    display: block;
    content: "";
  }
  
  .players .number-3 {
    color: #8b6be4;
    font-family: opensans-bold;
    font-size: 14px;
    position: relative;
  }
  
  .article-title {
    margin: 0;
    color: #e3e3e3;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    font-family: opensans-bold;
    font-size: 23px;
  }
  
  .main-text {
    text-align: start;
    padding-bottom: 55px;
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
  }
  
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  
  /* ========== ACTIVITY ==========*/
  .activity-img {
    font-size: 0;
    position: relative;
  }
  
  .activity-number {
    background-color: #5c3eb2;
    color: #ffffff;
    position: absolute;
    left: 20px;
    margin-top: -90px;
    padding: 27px;
    font-family: opensans-bold;
    font-size: 14px;
  }
  
  .activity-number::after {
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #8f7bc8;
    position: absolute;
    display: block;
    content: "";
  }
  
  .activity-title {
    display: flex;
    color: #e3e3e3;
    text-transform: uppercase;
    text-decoration: none;
    font-family: opensans-bold;
    font-size: 28px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .activity-text {
    text-align: start;
    padding-bottom: 75px;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  
  /* ========== FOOTER ==========*/
  .page-footer {
    background-image: url("../Images/game_767.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding-top: 95px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  
  .page-footer::after {
    content: "";
    background-color: #19183a;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .footer-container {
    position: relative;
    z-index: 2;
  }

  .footer-head {
    margin-bottom: 75px;
  }

  .page-footer-logo-1 {
    width: 56px;
    fill: #ffffff;
    background-color: #553ba2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 25%;
  }

  .page-footer-title {
    color: #ffffff;
    text-transform: uppercase;
    font-family: opensans-bold;
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: 55px;
    margin-bottom: 0;
  }
  
  .footer-text {
    text-transform: uppercase;
    font-size: 14px;
    color: #9898be;
  }
  
  .page-footer-logo-2 {
    margin-top: 80px;
    width: 132px;
  }
  
  /* ========== MEDIA 641-960 ==========*/
  @media (min-width: 641px) and (max-width: 960px) {
    .page-header {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 35px;
      padding-bottom: 92px;
      background-image: url("../Images/football_1280.jpg");
    }
  
    .page-header-logo {
      width: 200px;
    }

    .page-header-title-1 {
      margin-top: 170px;
      margin-left: 60px;
      font-size: 64px;
      letter-spacing: 3px;
      line-height: 31px;
    }
  
    .page-header-title-2 {
      display: flex;
      margin-bottom: 305px;
      margin-left: 160px;
      font-size: 64px;
      letter-spacing: 3px;
      text-align: start;
      line-height: 1;
    }
  
    .form-group {
      display: flex;
      justify-content: space-around;
    }
  
    .download-button {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 34px;
      width: 310px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 38px;
      justify-content: center;
      filter: drop-shadow(8px 13.856px 12px #0a0e34);
      line-height: 1;
    }
  
    .apple-logo {
      width: 38px;
    }

    .google-logo {
      width: 41px;
    }
    
    .text-button {
      margin-left: 30px;
    }

    .athlets,
    .players {
      position: relative;
    }
  
    .img-athlets {
      position: absolute;
      width: 45%;
      max-width: 365px;
      margin-left: -570px;
      margin-top: -70px;
    }
  
    .img-players {
      position: absolute;
      width: 56.5%;
      margin-top: -90px;
    }
  
    .title-athlets {
      padding-left: 37%;
      font-size: 80px;
    }
  
    .athlets .main-article {
      padding-left: 37%;
    }
  
    .main-header {
      padding-top: 40px;
    }
  
    .title-players {
      padding-right: 37%;
      padding-left: 30px;
      font-size: 80px;
    }
  
    .players .main-article {
      padding-right: 37%;
      padding-left: 30px;
    }
  
    .number,
    .athlets .number-3,
    .players .number-3 {
      font-size: 18px;
      letter-spacing: 1px;
      position: relative;
    }
  
    .number::after {
      width: 19px;
      height: 5px;
      border-radius: 2px;
      position: absolute;
      display: block;
      content: "";
    }
  
    .number-3::after {
      width: 19px;
      height: 5px;
      border-radius: 2px;
      position: absolute;
      display: block;
      content: "";
    }
  
    .article-title {
      font-size: 32px;
      letter-spacing: 2px;
    }
  
    .main-text {
      padding-bottom: 36px;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 28px;
    }
  
    .activity-title {
      margin-top: 80px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 80px;
    }
  
    .activity-text {
      padding-bottom: 105px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 28px;
    }
  
    .activity-number {
      font-size: 24px;
      padding: 45px;
      left: 30px;
      margin-top: -180px;
    }
  
    .activity-number::after {
      width: 25px;
      height: 5px;
      border-radius: 2px;
    }
  
    .page-footer {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 130px;
      padding-bottom: 20px;
      background-image: url("../Images/game_1280.jpg");
    }

    .footer-head {
      margin-bottom: 275px;
    }

    .page-footer-logo-1 {
      width: 100px;
      padding-bottom: 28px;
      padding-top: 28px;
      padding-left: 16px;
      padding-right: 16px;
}

    .page-footer-title {
      margin-top: 80px;
      font-size: 80px;
      letter-spacing: 4px;
    }
  
    .footer-text {
      font-size: 36px;
    }
  
    .page-footer-logo-2 {
      margin-top: 50px;
      width: 200px;
    }
  }
  
  /* ========== MEDIA 961 ==========*/
  @media (min-width: 961px) {
    .page-header {
      padding-left: 8%;
      padding-right: 8%;
      padding-top: 40px;
      padding-bottom: 108px;
      background-image: url("../Images/football_1920.jpg");
    }
  
    .page-header-logo {
      opacity: 0.8;
      width: 185px;
    }
  
    .page-header-logo:hover {
      opacity: 1;
    }
  
    .page-header-title-1 {
      font-size: 90px;
      letter-spacing: 5px;
      line-height: 31px;
      margin-top: 290px;
    }
  
    .page-header-title-2 {
      font-size: 90px;
      letter-spacing: 5px;
      line-height: 100px;
      text-align: end;
      margin-bottom: 214px;
    }
  
    .form-group {
      display: flex;
      justify-content: space-evenly;
    }
  
    .download-button {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 34px;
      width: 310px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 38px;
      justify-content: center;
      filter: drop-shadow(8px 13.856px 12px #0a0e34);
      line-height: 1;
    }
  
    .apple-logo {
      width: 40px;
    }
  
    .google-logo {
      width: 40px;
    }
    .main-theme {
      margin-top: 0;
    }
  
    .athlets,
    .players {
      position: relative;
    }
  
    .title-athlets {
      padding-left: 50%;
      padding-right: 8%;
      margin-top: 112px;
      margin-bottom: 0;
      font-size: 80px;
    }
  
    .img-athlets {
      position: absolute;
      width: 50%;
      max-width: 1130px;
      margin-top: -120px;
      margin-left: -700px;
    }
  
    .athlets .main-article {
      padding-left: 50%;
      padding-right: 8%;
    }
  
    .title-players {
      padding-left: 8%;
      padding-right: 50%;
      margin-top: 112px;
      margin-bottom: 60px;
      font-size: 80px;
    }
  
    .players .main-article {
      padding-left: 8%;
      padding-right: 50%;
    }
  
    .img-players {
      position: absolute;
      width: 60%;
      max-width: 1712px;
      height: 880px;
      margin-top: -135px;
      margin-left: 0;
    }
  
    .number,
    .athlets .number-3,
    .players .number-3 {
      font-size: 18px;
    }
  
    .number::after {
      width: 19px;
      height: 5px;
      border-radius: 2px;
    }
  
    .number-3::after {
      width: 19px;
      height: 5px;
      border-radius: 2px;
    }
  
    .article-title {
      font-size: 36px;
      letter-spacing: 2px;
      line-height: 34px;
    }
  
    .main-text {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 28px;
      padding-bottom: 60px;
    }
  
    .activity-article {
      display: flex;
      text-align: start;
      align-items: center;
      justify-content: center;
    }
  
    .activity-article:nth-child(even) {
      flex-direction: row-reverse;
    }
  
    .activity-img {
      width: 50%;
      height: auto;
    }
  
    .activity-content-1 {
      width: 50%;
      padding-left: 5%;
      padding-right: 8%;
      box-sizing: border-box;
    }
  
    .activity-number {
      font-size: 24px;
      line-height: 34px;
      margin-top: 0;
      padding: 3vw;
      left: 45.5vw;
    }
  
    .activity-number::after {
      width: 24px;
      height: 5px;
      border-radius: 2px;
    }
  
    .activity-title {
      font-size: calc(80px + 40 * (100vw - 1920px) / 1152);
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 70px;
    }
  
    .activity-text {
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 28px;
      padding: 0;
    }

    .activity-content-2 {
      width: 50%;
      box-sizing: border-box;
      padding-left: 8%;
      padding-right: 5%;
    }
  
    .page-footer {
      padding-left: 8%;
      padding-right: 8%;
      padding-top: 220px;
      padding-bottom: 45px;
      background-image: url("../Images/game_1920.jpg");
    }
  
    .footer-head {
      display: flex;
      justify-content: center;
      margin-bottom: 160px;
    }
   
    .footer-logo-1 {
      margin-right: 38px;
    }

    .page-footer-logo-1 {
      opacity: 0.8;
      width: 100px;
      padding-bottom: 28px;
      padding-top: 28px;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .page-footer-logo-1:hover {
      opacity: 1;
    }
  
    .footer-info {
      text-align: start;
    }
  
    .page-footer-title {
      font-size: 80px;
      letter-spacing: 4px;
      line-height: 60px;
      margin-bottom: 20px;
      margin-top: 0;
      padding-top: 23px;
    }
  
    .footer-text {
      font-size: 30px;
      line-height: 34px;
    }
  
    .page-footer-logo-2 {
      margin-top: 250px;
      opacity: 0.8;
      width: 185px;
    }
  
    .page-footer-logo-2:hover {
      opacity: 1;
    }
  }


  